<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center" style="font-size: 500%; margin-top:-19px;">👶</h1>
      <!--<p class="text-center">Get Involved!</p>-->
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>  
  </div>
</div>