<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1 style="font-size:610%; margin-bottom: -44px;">🎩<h1>
        <% else %>
          <h1 style="font-size:610%; margin-bottom: -44px;">🎩<h1>
          <!--<h1 style="font-size:610%; margin-bottom: -28px;">💁🏼<h1>-->
        <% end %>
      </div> 
        <div class="well">
          <% if params[:plan] == '2'%>
            <%= render "pro_form" %>
          <% else %>
            <%= render "basic_form" %>
          <% end %>
      </div>
    </div>
  </div>
</div>