<div class="content container text-left ">
    <h1>About Page</h1>
    <p style="font-size: 24px; margin-top: 20px;margin-bottom: 10px;">
    We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. 
    </p>
</div>