<div class="home-callout container-fluid">
  <div class="text-left container">
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrepreneurs can meet developers</h3>
  </div>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4 class="text-center"> Sign up for Basic account and get access to the community</h4>
        <br>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-large btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Preaux Membership</h2>
        <h4 class="text-center"> Sign up for Preaux account and get access to the community & contact info! ($10/mo)</h4>
        <%= link_to "Sign up with Preaux", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-large btn-block' %>
      </div>
    </div>
  </div>
</div> 