/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome'; 


// Typography styles
h1, h2, h3, body {
   font-family: 'Open Sans', sans-serif;  
   color: #ff00cc
}

// Background gradient
.navbar {
  
  background-color: white !important;
  
  
  
// background: #52ffd1; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #ffffff, #52ffd1); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #ffffff, #52ffd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
  
  // background: #00c6ff; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.body {
  background-color: linear-gradient(to left, #ffffff, #228b22) !important;
}
// btn primary

.btn-primary, .btn-primary:hover, .btn-primary:visited {
    background-color: #ff00cc;
    border-color: #7DE3C8;
  // &:after, &:before {
  //   border-width: 33px 10px 0 0 !important;
  // }
  // &:before {
  //   left: -10px;
  //   border-color: transparent #7DE3C8 !important;;
  // }
  // &:after {
  //   right: -10px;
  // //   border-color: #7DE3C8 transparent !important;;
  // }
    
     &:hover {
    color: white;
    opacity: 0.75;
    box-shadow: none;
    border: none;
    }
}

//btn success

.btn-success, .btn-success:hover, .btn-success:visited .btn-success:active:focus {
    background-color: #5cb85c;
     &:hover {
    color: white;
    opacity: 0.75;
    box-shadow: none;
     }
}

.btn-primary:active, {
  background-color: #7d00ff !important;
}

.btn-success:active {
    background-color: #ffd700 !important;
  //   box-shadow: none;
  //   border: #7d00ff;
  //   color: #ffffff !important;
  // background-color: #1F2838 !important;
  // border-color: #494F57 !important;
}


.btn-default {
  color: #ff00cc;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #ff00cc;
  &:hover {
    color: #ff00cc;
    opacity: 0.75;
  }
}

// Nav styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 0px;
  font-size: 141%;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff00cc;
}

.navbar-default .navbar-toggle {
  border: 2px solid #ff00cc;
  &:hover, &:focus {
    background-color: white;  /*#00c6ff;*/
  }
}

// .navbar-btn {
//   color: #ff00cc;
//   //margin-top: 8px;
//   //margin-bottom: 8px;
// }

// SPOTIFY plyr
.navbar-music {
  opacity: 0.00;
  margin-top: 8px;
  &:hover, &:focus {
    opacity: 0.08;
  }
}

// Homepage styles
.home-callout {
  color: #ff00cc;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.flash-container {
  position: absolute;
  width: 100%;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
} 

.content {
  font-family: 'Open Sans', sans-serif;
  color:#ff00cc;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}


.home-signup-links {
  margin-top: 30px;
}

.flag {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative; 
  background: green;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  list-style:none;
}

.sheer {
  // background-color: #7DE3C8;
  // left: -5px;
  // width: 170px;
  // &:after, &:before {
  //   border-width: 33px 10px 0 0;
  // }
  // &:before {
  //   left: -10px;
  //   border-color: transparent #7DE3C8;
  // }
  // &:after {
  //   right: -10px;
  //   border-color: #7DE3C8 transparent;
  // }
}


