/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
$grid-float-breakpoint: 0px;
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome'; 


// Typography styles
h1, h2, h3, body {
   font-family: 'Open Sans', sans-serif;  
   color: #ff00cc
}

// Background gradient
.navbar {
  
  background-color: white !important;
  
  
  
// background: #52ffd1; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #ffffff, #52ffd1); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #ffffff, #52ffd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
  
  // background: #00c6ff; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.body {
  background-color: linear-gradient(to left, #ffffff, #228b22) !important;
}
// btn primary
// #ff00cc

.btn.navbar-btn {
  border-color: #C66091;
  border-radius: 50%;
  width: 35px;
	height: 35px;
	border-color: #C66091;
	font-size: 150%;
	vertical-align: center;
  text-align: middle;
  padding: 0;
	&:hover, &:focus, &:active, &:target {
    color: #5cb85c !important;
	}
}

.btn-primary, .btn-primary:hover, .btn-primary:visited {
    // position: static !important;
    // z-index: 9000 !important;
    background-color: #C66091; 

    border-color: white;
    border-radius: 50%;
    font-size: 500%;
    width: 500px;
    height: 500px;
    text-align: center;
    // position: absolute;
    // z-index: 1;
    // white-space: nowrap;
    // opacity: 0.75;
    // padding: 10px 16px;
    // font-size: 400%;
    // line-height: 1.33;
    // text-align: center;
  // &:after, &:before {
  //   border-width: 33px 10px 0 0 !important;
  // }
  // &:before {
  //   left: -10px;
  //   border-color: transparent #7DE3C8 !important;;
  // }
  // &:after {
  //   right: -10px;
  // //   border-color: #7DE3C8 transparent !important;;
  // }
    
    // &:hover {
    // color: white;
    // opacity: 0.75;
    // box-shadow: none;
    // border: none;
    // }
}


//btn-bigboy BIGBOY
.btn-bigboy.btn-unstyled {
  // position: center !important;
  // z-index: 9000 !important;
  background-color: white;
  border-color: white;
  border-radius: 50%;
  font-size: 367%;
  width: 900px;
  height: 900px;
  text-align: center;
  margin-top: -50px;
  // z-index: ;
  // opacity: 0.75;
    // white-space: nowrap;
  // z-index: .9000;
  z-index: -9000;
  max-width: 40%;
  
}

// btn btn-primary btn-block center-block (TONGUE)
.btn.btn-primary.btn-block.center-block {
  // position: relative;
  // position
  border-radius: 50%;
  border-width: 3px;
  width: 727px;
  height: 250px;
  font-size: 904%;
	border-color: #C66091;
	border {z-index: 9000};
	background-color: white;
	text-align: middle;
	vertical-align: middle;
// 	margin-top: -100px;
	color: white;
// 	opacity: 0.5;
  opacity: 1.0;
  max-width: 100%;
  margin-top: 20px;  
	
	&:hover, &:focus, &:active, &:target {
    color: #5cb85c !important;
    opacity: 1.0;
    border {z-index: -9000};
    // background-color: #5cb85c !important;
  //   width: 200px;
	 // height: 200px;
	}
  &:active, &:target {
  opacity: 1.0;
  }
}

.btn-bigboy, .btn-unstyled {
  width: 800px;
  height: 800px;
  background-color: white;
  &:hover, &:focus, &:active, &:target {
    color: #5cb85c !important;
    text-decoration: none
  }
}


//btn-tongue

.btn {
  color: #C66091 !important;
  background-color: white;
  &:hover, &:focus, &:active, &:target {
    color: #5cb85c !important;
    // text-decoration: none
  }
}

.nav, .navbar-nav, .navbar-right  {
  collapse: none;
  // display:;
}


.btn, .btn-primary, .btn-large, .btn-block, .center-block {
  border-radius: 50%;
//   width: 200px;
// 	height: 200px;
	border-color: #C66091;
// 	margin-top: -20px;
	&:hover, &:focus, &:active, &:target {
    color: #5cb85c !important;
    // background-color: #5cb85c !important;
  //   width: 200px;
	 // height: 200px;
	  
	  
    // background-color: #5cb85c;
    // border-color: #ff00cc;
    // // opacity: 0.75;
    // box-shadow: 10px 10px 5px #888888;
    }
  // &:active {
  //   color: #ff00cc !important;
  //   background-color: #C66091;
  //   border-color: #ff00cc;
  // }
}


//btn success

.btn-success, .btn-success:hover, .btn-success:visited .btn-success:active:focus {
    background-color: #5cb85c;
    // &:hover {
    // color: white;
    // opacity: 0.75;
    // box-shadow: none;
    // }
}

// .btn-primary:active, {
//   background-color: #ff00cc !important;
//   border: #ff00cc;
//   // margin-top: -2px;
// }

.btn-success:active {
    background-color: #ffd700 !important;
  //   box-shadow: none;
  //   border: #7d00ff;
  //   color: #ffffff !important;
  // background-color: #1F2838 !important;
  // border-color: #494F57 !important;
}


.btn-default {
  color: #ff00cc;
  border-radius: 50%;
}

.navbar-btn {
  color: #ff00cc;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  // display: none;
  color: #ff00cc;
  &:hover &:active &:focus &:target {
    color: #ff00cc!important;
    // opacity: 0.75;
  }
}

// Nav styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 0px;
  font-size: 141%;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
  &:hover, &:focus, &:active {
    color: #ff00cc !important;  /*#00c6ff;*/
}
}

// .navbar-default .navbar-toggle .icon-bar {
//   background-color: #ff00cc;
//   display: none;
// }

// .navbar-default .navbar-toggle {
//   display: none;
//   border: 2px solid #ff00cc;
//   &:hover, &:focus {
//     background-color: white;  
//   }
// }

// .navbar-btn {
//   color: #ff00cc;
//   //margin-top: 8px;
//   //margin-bottom: 8px;
// }

// .navbar-right {
//   display: always;
//   // position: absolute;
  
// }

// nav.navbar-nav.navbar-right {
//   white-space: nowrap;
//   display: none;
// }


// SPOTIFY plyr
// .navbar-music {
//   opacity: 0.00;
//   margin-top: 8px;
//   &:hover, &:focus {
//     opacity: 0.08;
//   }
// }

// Homepage styles
.home-callout {
  color: #ff00cc;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.flash-container {
  position: absolute;
  width: 100%;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
} 

.content {
  font-family: 'Open Sans', sans-serif;
  color:#ff00cc;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}


.home-signup-links {
  margin-top: 30px;
}

.flag {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative; 
  background: green;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  list-style:none;
}

.sheer {
  // background-color: #7DE3C8;
  // left: -5px;
  // width: 170px;
  // &:after, &:before {
  //   border-width: 33px 10px 0 0;
  // }
  // &:before {
  //   left: -10px;
  //   border-color: transparent #7DE3C8;
  // }
  // &:after {
  //   right: -10px;
  //   border-color: #7DE3C8 transparent;
  // }
}


//COOL bTNs

.btn .btn-default .navbar-btn {
  border-radius: 50%;
  border-color: black;
}

.btn-bigboy.btn-unstyle {
  font-size: 904%;
  margin-top: -150px;
}

.navbar-collapse.collapse, .btn.navbar-btn {
  display: block!important;
  display:none;
  
}

.navbar-nav>li, .navbar-nav, .btn.navbar-btn, .navbar-brand {
  float: left !important;

}

// .navbar-nav.navbar-right:last-child {
//   margin-right: -15px !important;
// }

.navbar-right, .btn.navbar-btn{
  float: right!important;
  margin-right: 0px !important;
  // float: top!important;
}