.avatar-show-img {
    width: 256px;
    height: 256px;
}

.well.profile-block {
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #7DE3C8;
    border-color: #ff00cc;
}

.well.profile-contact-info {
    background-color: #7DE3C8;
    border-color: #ff00cc;
}